body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */

.container {
width:  80%;
margin: auto;
overflow: hidden;

}

 ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 37px;
    border: 0;
    background-color: orangered;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    
}


/* dark theme */
.dark {
    padding: 15px;
    background-color:#354249;
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* dark theme */


/* End of Global */

/* Header */

header{
    background-color: #354249;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: red solid 3px;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}


header li {
    display: inline;    
    padding: 0 20px 0 20px;
    
}


header #branding {
    float: left;
}

header #branding h1 {
   margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{

    color: red;
    font-weight: bold;
 }

header a:hover {
    color: #cccccc;
    font-weight: bold;
    
 }


/* End of Header */

 /* Showcase */

 #showcase {
      min-height: 400px;
      background:url(../img/showcase.jpg) no-repeat 0 -400px;
      text-align: center;
      color: white;
 }

 #showcase h1 {
     margin-top: 100px;
     font-size: 55px;
     margin-bottom: 10px;
 }

 #showcase p {
     font-size: 20px;
 }

/* End of Showcase */

/* News letter */

#newsletter {
    color: white;
    background-color:#354249;
    padding: 20px;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* End of News Letter */ 


/* My Stack (boxes) */ 

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 90px;
}

/* End of My Stack (boxes) */



/* side bar */


aside#side-bar {
    width: 30%;
    float: right;
    margin-top: 10px;
}

/* End of side bar */


aside#side-bar .quote input, aside#side-bar .quote textarea{
width: 90%;
padding:5px
}

/* main col */

article#main-col{
    width: 65%;
    float: left;
}

/* End of main col */


/* services */

ul#services li {
    list-style: none;
    padding: 20px;
    border: solid 1px #cccccc;
    margin-bottom: 5px;
    background-color: #e6e6ee;
}

/* End of services */




/*Footer*/

footer{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background: red;
    text-align: center;
}

/*End of footer*/


@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#side-bar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }
    
    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }

}


